header{
    display: block;
}
header .navbar{
    background-color: transparent !important;
    color: #fff;
    display: block;
}
header .navbar h5{
    margin: 0;
}
header .navbar a{
    color: #fff;
    padding: 0 !important;
}
header .navbar .head-contact{
    display: flex;
}
header .navbar .head-contact i{
    padding: 12px 15px;
    font-size: 22px;
}
header .navbar .social i{
    padding: 10px 15px;
    font-size: 20px;
}

.main-navbar .navbar{
    background-color: transparent !important;
    color: #fff;
}
.main-navbar .logo{
    display: flex;
}
.main-navbar .logo img{
    width: 60px;
    height: 60px;
    margin: 5px 10px;
}
.main-navbar .logo .navbar-brand{
    color: #fff;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
}
.main-navbar .nav-item a{
    color: #fff !important;
    font-weight: 500;
}

@media screen and (max-width: 375px){
	header{
		display: none;
	}
    .main-navbar .logo img{
        width: 40px;
        height: 40px;
        margin: 5px 10px;
    }
    .main-navbar .logo .navbar-brand{
        color: #fff;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
    }
    header .navbar{
        background-color: transparent !important;
        color: #fff;
        display: none;
    }
}